.reveal section img { background:none; border:none; box-shadow:none; }

#webgl_example {
  float: left;
  position: relative;
  width: 50%;
  height: 500px;
  font-size: 0.17em;
  z-index: -10;
  max-height: 500px;
}

#canvas_webgl_example {
  margin-top: 20px;
}

#cube {
  float: left;
  position: relative;
  width: 50%;
  font-size: 0.35em;
  z-index: -10;
}

#torus {
  float: left;
  position: relative;
  width: 50%;
  font-size: 0.34em;
  z-index: -10;
}

#bunny {
  float: left;
  position: relative;
  width: 50%;
  font-size: 0.38em;
  z-index: -10;
}

#simple_fragment {
  float: left;
  position: relative;
  width: 50%;
  font-size: 0.38em;
  z-index: -10;
}

#fragment_01 {
  float: left;
  position: relative;
  width: 50%;
  font-size: 0.35em;
  z-index: -10;
}

#fragment_02 {
  float: left;
  position: relative;
  width: 50%;
  font-size: 0.35em;
  z-index: -10;
}