<!DOCTYPE html>
<html>
<head>
  <title>Slides</title>
</head>
<body>
  <h1>Slides</h1>
  <ul>
    {% for item in items %}<li><a href="/{{ item }}">{{ item }}</a></li>
    {% endfor %}
  </ul>
</body>
</html>
